@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 10% 5%;
    --foreground: 161 88% 51%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 161 88% 51%;
    --primary-foreground: 0 10% 5%;

    --secondary: 163 100% 98%;
    --secondary-foreground: 161 88% 51%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 17 17% 27%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 10% 5%;
    --foreground: 161 88% 51%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 161 88% 51%;
    --primary-foreground: 0 10% 5%;

    --secondary: 163 100% 98%;
    --secondary-foreground: 161 88% 51%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 17 17% 27%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

body,
html {
  font-size: 16px;
}

@media screen and (max-width: 1280px) {

  body,
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) {

  body,
  html {
    font-size: 13px;
  }
}


@media screen and (max-width: 768px) {

  body,
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 390px) {

  body,
  html {
    font-size: 14px;
  }
}


/* Orbitron */
@font-face {
  font-family: 'Orbitron';
  src: url('../assets/fonts/orbitron/Orbitron-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../assets/fonts/orbitron/Orbitron-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../assets/fonts/orbitron/Orbitron-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}


@font-face {
  font-family: 'Orbitron';
  src: url('../assets/fonts/orbitron/Orbitron-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../assets/fonts/orbitron/Orbitron-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../assets/fonts/orbitron/Orbitron-SemiBold.ttf') format('truetype');
  font-weight: 600;
  /* Pode variar dependendo do arquivo da fonte */
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../assets/fonts/orbitron/Orbitron-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  /* Pode variar dependendo do arquivo da fonte */
  font-style: normal;
}

/* Inter */
@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/inter/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/inter/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  /* Pode variar dependendo do arquivo da fonte */
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/inter/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  /* Pode variar dependendo do arquivo da fonte */
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/inter/Inter-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  /* Pode variar dependendo do arquivo da fonte */
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/inter/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  /* Pode variar dependendo do arquivo da fonte */
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/inter/Inter-Black.ttf') format('truetype');
  font-weight: 900;
  /* Pode variar dependendo do arquivo da fonte */
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/inter/Inter-Thin.ttf') format('truetype');
  font-weight: 100;
  /* Pode variar dependendo do arquivo da fonte */
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/inter/Inter-Light.ttf') format('truetype');
  font-weight: 300;
  /* Pode variar dependendo do arquivo da fonte */
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/inter/Inter-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  /* Pode variar dependendo do arquivo da fonte */
  font-style: normal;
}

/* Defina variáveis de fonte para uso posterior */
:root {
  --font-family-orbitron: 'Orbitron', sans-serif;
  --font-family-inter: 'Inter', sans-serif;
}

html.sr .load-hidden {
  visibility: hidden;
}

/* ANIMATION LOGO */


.triangulo {
  transform-origin: 0% 50%;
  animation: blur 5s infinite ease-in-out;
}

@keyframes blur {
  50% {
    filter: drop-shadow(0px 0px 30px #28F5BE);
  }
}

#ponta {
  animation: ponta 4s ease infinite alternate;
  transform-box: fill-box;
  transform-origin: center center;
}

@keyframes ponta {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* scroll bar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #0D0B0E;
}

::-webkit-scrollbar-thumb {
  background-color: #7B7B7B;
  border-radius: 8px;
}



/* LINHAS MOVENDO */

.path {
  stroke-dasharray: 200;
  animation: dash 60s linear reverse infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 10000;
  }
}

.path2 {
  stroke-dasharray: 150;
  stroke-opacity: 0.5;
  stroke-width: 2;
  animation: dash 60s linear reverse infinite, op 5s linear infinite;
}

@keyframes op {
  0% {
    stroke-opacity: 0;
  }

  25% {
    stroke-opacity: 0.5;
  }

  50% {
    stroke-opacity: 1;
  }

  75% {
    stroke-opacity: 0.5;
  }

  100% {
    stroke-opacity: 0;
  }
}

.path3 {
  opacity: 1;
}